.places{
    margin-top: 3em;
}
.places_title{
    font-size: 30px;
    text-align: left;
    margin-left: 6px;
}
.places_listing{
    padding: 20px;
    margin: 20px;
    border: #FF5A5F 1px solid;
    width: 390px;
    border-radius: 4px;
}
.place_name{
    font-size: 30px;
    text-align: center;
}
.multiple_places{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}
.places_listing:last-child{
    grid-column: span 2;
}
